body{
	background-color: blue;
  background-size: cover;
	text-align: center;
}

#wrapper{
  padding: 5% 0;
  background-color: orange;
  width:960px;
  margin:5% auto;
  box-sizing: border-box;
  min-height: 80%;
}

#subwrapper{
  position: relative;
  top:20%;
}

button{
  display:block;
  width:300px;
  height:80px;
  color: blue;
  margin: 10px auto 0 auto;
  border-style: double;
  cursor: pointer;
  background:transparent;
  font-size: 42px;;
}


h1{
  font-family: Garamond;
  font-size: 45px;
  margin-bottom: 50px;
  font-weight: bold;
  color:blue;
}

h2{
  font-family: Garamond;
  font-size: 25px;
  margin-bottom: 25px;
}

h3{
  font-family: Garamond;
  font-size: 25px;
  margin-bottom: 10px;
}

#start{
  margin-top: 10%;
  border:2px solid blue;
  background: orange;
}

#question-box h2{
  margin-top: 50px;
}
